node_modules

/.cache
/.wrangler
/build
/dist
/public/build
.env
.dev.vars
.react-router

app/**/*.json
**/*.log

worker-configuration.d.ts

### Terraform or OpenTofu
**/.terraform/*

*.tfstate
*.tfstate.*

crash.log
crash.*.log

*.tfvars
*.tfvars.json

override.tf
override.tf.json
*_override.tf
*_override.tf.json

.terraformrc
terraform.rc

### Lambda Functions
/lambda/build

tmp/
